@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
.menu{
    background: #144B88;
}
.logo{
    font-size: 25px;
    font-family: 'Anton', sans-serif;
}
.salir{
    font-size: 17px;
}
.formulario{
    width: 32vw;
    height: 91vh;
    border: 0.2px solid darkgray;
}

.tabla{
    width: 68vw;
    
}
.disco{
   font-family: 'League Gothic', sans-serif;
    font-size: 35px;
}